@use 'src/styles/placeholders/page-placeholders';
@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/page-loading';

.wheel-page {
  @extend %page-padding;
  @extend %page-layout;
  &__back-wrapper {
    display: flex;
  }

  &__back {
    font-size: variables-size.$font-size-m-s;
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      width: variables-size.$font-size-s;
      height: variables-size.$font-size-s;
    }
  }

  &__loader {
    @extend %page-loading;
  }

  &__placeholder {
    width: 100%;
    padding: 40vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: variables-size.$font-size-l;
    text-align: center;
    svg {
      width: variables-size.$rem-60;
      height: variables-size.$rem-60;
      margin-right: variables-size.$rem-12;
    }
  }
}

@media (max-width: variables-size.$device-width-small) {
  .wheel-page__placeholder {
    flex-direction: column;
    padding: 35vh 0;
    svg {
      margin-bottom: variables-size.$rem-12;
    }
  }
}