@use 'src/styles/placeholders/page-placeholders';
@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/page-loading';

.wheel-page {
  @extend %page-padding;
  @extend %page-layout;
  &__back-wrapper {
    display: flex;
  }

  &__back {
    font-size: variables-size.$font-size-m-s;
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      width: variables-size.$font-size-s;
      height: variables-size.$font-size-s;
    }
  }

  &__loader {
    @extend %page-loading;
  }

  &__placeholder {
    width: 100%;
    padding: 55% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: variables-size.$font-size-l;
  }
}