@use 'src/styles/variables/variables-size';

.tab-button {
  font-size: variables-size.$font-size-m-s;
  padding-right: variables-size.$rem-20;
  font-weight: variables-size.$font-weight-x-s;

  span {
    display: flex;
    height: 3.75em;
    align-items: center;
    color: var(--main-text-color);
    &:hover {
      color: var(--main-text-color);
    }
    &:visited {
      color: var(--main-text-color);
    }
  }

  &--active {
    font-weight: 700;

    span {
      color: var(--bold-text-color);
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--accent-color);
        content: '';
        height: variables-size.$rem-4;
        width: 100%;
      }
    }
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .tab-button {
    font-size: variables-size.$font-size-s;
  }
}

@media (max-width: variables-size.$device-width-small) {
  .tab-button {
    font-size: variables-size.$font-size-x-s;
  }
}