@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/input-error';

%auth-page {
  background-color: var(--page-background-color);
  padding: variables-size.$page-padding-top variables-size.$page-padding-side;
  border-radius: variables-size.$page-layout-radius;
}

%auth-page__title {
  margin-bottom: variables-size.$rem-20;
  font-size: variables-size.$font-size-page-title-s;
}

%auth-page__link {
  font-size: variables-size.$font-size-s;
}

%auth-page__form {
  display: flex;
  flex-direction: column;
  margin-bottom: variables-size.$rem-20;
}

%auth-page__input-group {
  margin-bottom: variables-size.$rem-16;
}

%auth-page__input {
  width: 100%;
}

%auth-page__error {
  @extend %input-error;
}

@media (max-width: variables-size.$device-width-small) {
  %auth-page {
    width: 100%;
  }

  %auth-page__title {
    font-size: variables-size.$font-size-x-x-l;
  }
}