@use 'src/styles/variables/variables-size';

%form-input-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  &:not(:last-of-type) {
    margin-bottom: variables-size.$rem-20;
  }
}