@use 'src/styles/variables/variables-size';

%input-placeholder {
  background-color: var(--input-background-color);
  outline: none;
  border: none;
  border-radius: 10px;
  height: variables-size.$input-height;
  padding: 0 10px;
  font-size: variables-size.$font-size-s;
  color: var(--main-text-color);

  &::placeholder {
    color: var(--dim-text-color);
  }

  &:hover, &:focus {
    border: 1px solid var(--input-border-color);
    padding: 0 9px;
  }

  &:disabled {
    filter: opacity(50%);
    border: none;
    &:hover {
      padding: 0 10px;
    }
  }
}