@use 'src/styles/variables/variables-size';

%page-layout {
  min-height: 960px;
}

%page-padding {
  padding: variables-size.$page-padding;
}

@media (max-width: variables-size.$device-width-small) {
  %page-layout {
    min-height: 100vh;
  }
}