@use 'src/styles/variables/variables-size';

%profile-header-button {
  margin-left: 10px;
  font-size: variables-size.$font-size-m-s;
  display: flex;
  align-items: center;
  color: var(--dim-text-color);
  &:hover {
    color: var(--dim-text-color);
  }
  &:visited {
    color: var(--dim-text-color);
  }

  svg {
    fill: currentColor;
    width: variables-size.$font-size-l;
    height: variables-size.$font-size-l ;
    margin-right: 3px;
  }
}

%profile-header-section-title {
  font-size: variables-size.$font-size-l;
  font-weight: variables-size.$font-weight-x-s;
  color: var(--dim-text-color);
}

@media (max-width: variables-size.$device-width-medium) {
  %profile-header-section-title {
    font-size: variables-size.$font-size-m;
    margin-top: variables-size.$rem-16;
  }
}

@media (max-width: variables-size.$device-width-small) {
  %profile-header-button {
    margin-left: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }

    span {
      visibility: hidden;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    svg {
      width: variables-size.$font-size-l;
      height: variables-size.$font-size-l;
      margin-right: 0;
    }
  }

  %profile-header-section-title {
    font-size: variables-size.$font-size-m-s;
    margin-top: variables-size.$rem-16;
  }
}