@use 'src/styles/variables/variables-size';

%setting-page-title {
  grid-area: title;
  font-size: variables-size.$font-size-l;
  font-weight: variables-size.$font-weight-l;
  color: var(--bold-text-color);
}

@media (max-width: variables-size.$device-width-small) {
  %setting-page-title h1 {
    font-size: variables-size.$font-size-x-x-l;
  }
}