@use '../../../../styles/placeholders/form-input-group';
@use '../../../../styles/placeholders/settings-label';
@use '../../../../styles/variables/variables-size';
@use '../../../../styles/placeholders/input-error';

.club-settings-form {
  &__group {
    @extend %form-input-group;
  }

  &__label {
    @extend %settings-label;
  }

  &__error {
    @extend %input-error;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: variables-size.$rem-20;
  }
}