@use '../../../styles/variables/variables-size';

.user-profile-header {
  display: grid;
  grid-template-areas:
    'title buttons'
    'club club';
  grid-template-columns: auto 200px;
  grid-template-rows: auto 80px;
  padding: variables-size.$page-padding-top variables-size.$page-padding-side 0 variables-size.$page-padding-side;
}

.user-profile-header__title-container {
  display: flex;
  justify-content: flex-start;
}