@use '../../../styles/variables/variables-size';

.user-profile-header {
  display: grid;
  grid-template-areas:
      'buttons'
      'title'
      'club';
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  padding: variables-size.$page-padding variables-size.$page-padding 0 variables-size.$page-padding;

  &__title-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: variables-size.$rem-16;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
}

@media (max-width: variables-size.$device-width-small) {
  .user-profile-header {
    &__avatar {
      margin-right: 10px;
    }
  }
}