.user-profile-header {
  display: grid;
  grid-template-areas:
    'title buttons'
    'club club';
  grid-template-columns: auto 200px;
  grid-template-rows: auto 80px;
  padding: 20px 20px 0 20px;
}

.user-profile-header__title-container {
  display: flex;
  justify-content: flex-start;
}