@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-shadow';

.notification {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--notification-background-color);
  position: relative;
  box-shadow: variables-shadow.$shadow-notification;

  span {
    font-size: variables-size.$font-size-x-s;
    max-width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__line {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 4px;
  }

  &.notification--success {
    .notification__line {
      background-color: var(--green-color);
    }
  }

  &.notification--error {
    .notification__line {
      background-color: var(--red-color);
    }
  }
}