@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/profile-header-placeholders';
@use 'src/styles/variables/z-indexes';

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: z-indexes.$z-index-modal-bg;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: variables-size.$page-padding 0;
}

.modal-container {
  background-color: var(--page-background-color);
  border-radius: variables-size.$page-layout-radius;
  position: relative;
  max-width: min(85%, 900px);
  padding: variables-size.$page-padding;
  margin: auto;

  &__close {
    @extend %profile-header-button;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: z-indexes.$z-index-modal-close;

    svg {
      width: variables-size.$rem-22;
      height: variables-size.$rem-22;
    }
  }
}

@media (max-width: variables-size.$device-width-small) {
  .modal-bg {
    padding: 0;
    display: block;
  }

  .modal-container {
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
  }
}

