@use 'src/styles/placeholders/settings-page-title';
@use 'src/styles/variables/variables-size';

.club-settings-page {
  padding: variables-size.$page-padding-top;

  &__title {
    @extend %setting-page-title;
    margin-bottom: 20px;
  }

  &__container {

  }

  &__loader {
    position: relative;
    width: 200px;
    height: 300px;
  }
}