@use '../../../../styles/variables/variables-size';
@use '../../../../styles/placeholders/profile-header-placeholders';

.club-header-master {
  grid-area: master;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  &__title {
    margin-top: 10px;
    @extend %profile-header-section-title;
  }

  &__name {
    font-size: variables-size.$font-size-l;
    font-weight: variables-size.$font-weight-s;
  }
}

@media (max-width: variables-size.$device-width-small) {
  .club-header-master {
    align-items: flex-start;
    margin-top: variables-size.$rem-10;

    &__name {
      font-size: variables-size.$font-size-m;
    }
  }
}