@use 'src/styles/variables/variables-size';

.avatar {
  &__background {
    border-radius: 100%;
    width: variables-size.$rem-48;
    height: variables-size.$rem-48;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__emoji {
    color: #FFF;
    font-size: variables-size.$font-size-l;
  }

  &.avatar--big {
    .avatar__background {
      width: variables-size.$rem-72;
      height: variables-size.$rem-72;
    }

    .avatar__emoji {
      font-size: variables-size.$font-size-x-x-l;
    }
  }

  &.avatar--navbar {
    .avatar__background {
      width: variables-size.$rem-32;
      height: variables-size.$rem-32;
    }

    .avatar__emoji {
      font-size: variables-size.$font-size-s;
    }
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .avatar {
    &__background {
      width: variables-size.$rem-36;
      height: variables-size.$rem-36;
    }

    &__emoji {
      font-size: variables-size.$font-size-m-s;
    }

    &.avatar--big {
      .avatar__background {
        width: variables-size.$rem-48;
        height: variables-size.$rem-48;
      }

      .avatar__emoji {
        font-size: variables-size.$font-size-l;
      }
    }
  }
}