@use 'src/styles/placeholders/cards-placeholders';
@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-color';

.member-card {
  @extend %card-header;
  border-radius: variables-size.$card-radius;
  padding: variables-size.$rem-20;

  &__content {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: variables-size.$rem-20;
  }

  &__name {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: variables-color.$card-white-text;
    font-size: variables-size.$font-size-x-l;
    &:hover {
      color: variables-color.$card-white-text;
    }
  }
}

@media (max-width: variables-size.$device-width-large) {
  .member-card {
    padding: variables-size.$rem-16;

    &__name {
      font-size: variables-size.$font-size-l;
    }
  }
}

@media (max-width: variables-size.$device-width-small) {
  .member-card {
    padding: variables-size.$rem-16;

    &__name {
      font-size: variables-size.$font-size-m;
    }
  }
}