//base
$light-accent-color: #F08A4B;
$light-dim-color: #707070;

//background
$light-background-color: #454545;
$light-page-background-color: #EBEBEB;
$light-navbar-background-color: $light-accent-color;

//text
$light-main-text-color: #000;
$light-link-text-color: $light-accent-color;