//text
$card-white-text: #FFF;

//icons
$navbar-icon: #FFF;
$navbar-icon-hover: rgba(255, 255, 255, 0.7);
$navbar-icon-disabled: rgba(255, 255, 255, 0.4);

//gradient
@mixin main-gradient {
  background: rgb(12,124,89);
  background: -moz-linear-gradient(240deg, rgba(12,124,89,1) 0%, rgba(59,51,112,1) 100%);
  background: -webkit-linear-gradient(240deg, rgba(12,124,89,1) 0%, rgba(59,51,112,1) 100%);
  background: linear-gradient(240deg, rgba(12,124,89,1) 0%, rgba(59,51,112,1) 100%);
}