//font
$font-size-small: 16px;
$font-size-middle: 24px;
$font-size-large: 28px;
$font-size-x-large: 32px;
$font-size-x-x-large: 36px;
$font-size-page-title: 72px;

//border-radius
$page-layout-radius: 24px;

//icons
$navbar-icons-size: 64px;