//base
$accent-color: #F08A4B;
$dim-color: #707070;

//background
$background-color: #454545;
$page-background-color: #EBEBEB;
$navbar-background-color: $accent-color;

//text
$main-text-color: #000;
$bold-text-color: #000;
$dim-text-color: $dim-color;
$link-text-color: $accent-color;
$link-text-color-hover: rgba(240, 138, 75, 0.8);