//base
$accent-color: #807DE1;
$dim-color: #707070;
$border-color: rgba(255, 255, 255, 0.1);

//background
$background-color: #121212;
$page-background-color: #232323;
$navbar-background-color: $accent-color;
$book-card-background-color: #343434;

//text
$main-text-color: rgba(255, 255, 255, 0.77);
$bold-text-color: rgba(255, 255, 255, 0.89);
$dim-text-color: rgba(255, 255, 255, 0.5);
$link-text-color: $accent-color;
$link-text-color-hover: rgba(128, 125, 225, 0.8);
$red-text-color: #ef5350;
$red-text-color-hover: rgba(239, 83, 80, 0.8);
$green-text-color: #81c784;
$green-text-color-hover: rgba(67, 160, 71, 0.8);