//base
$accent-color: #807DE1;
$dim-color: #707070;

//background
$background-color: #121212;
$page-background-color: #232323;
$navbar-background-color: $accent-color;

//text
$main-text-color: rgba(255, 255, 255, 0.75);
$bold-text-color: rgba(255, 255, 255, 0.85);
$dim-text-color: rgba(255, 255, 255, 0.65);
$link-text-color: $accent-color;
$link-text-color-hover: rgba(128, 125, 225, 0.8);