@use 'variables-size';

.app-layout {
  width: 100vw;
  height: 100vh;
  padding: variables-size.$layout-padding;
  display: grid;
  grid-template-areas: 'navbar page';
  grid-template-columns: 120px auto;
  background-color: var(--background-color);
  overflow: hidden;
}

.app-layout__page {
  overflow: hidden;
  background-color: var(--page-background-color);
  border-radius: variables-size.$page-layout-radius;
  z-index: 1;
  position: relative;
}