@use 'variables-size';

.app-layout {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: grid;
  grid-template-areas: 'navbar page';
  grid-template-columns: 120px auto;
  background-color: var(--background-color);
}

.app-layout__page {
  background-color: var(--page-background-color);
  border-radius: 0 variables-size.$page-layout-radius variables-size.$page-layout-radius 0;
}