@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-shadow';

.logged-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main-content {
  width: min(90%, 800px);
  flex: 1 0 auto;
  margin: auto;
  padding-top: calc(variables-size.$navbar-height + variables-size.$rem-20);

  &__pages {
    background-color: var(--page-background-color);
    border-radius: variables-size.$page-layout-radius;
    margin-bottom: variables-size.$rem-20;
    box-shadow: variables-shadow.$shadow-page;
  }
}

@media (max-width: variables-size.$device-width-small) {
  .main-content {
    order: 1;
    padding-top: 0;
    padding-bottom: variables-size.$navbar-height;
    margin: 0;
    width: 100%;

    &__pages {
      margin-bottom: 0;
      border-radius: 0;
    }
  }
}