@use 'src/styles/variables/variables-size';

.main-content {
  width: min(90%, 1200px);
  margin: auto;
  padding-top: calc(variables-size.$navbar-height + variables-size.$rem-20);

  &__pages {
    background-color: var(--page-background-color);
    border-radius: variables-size.$page-layout-radius;
    margin-bottom: variables-size.$rem-20;
  }
}