@use 'variables/variables-light';
@use 'variables/variables-dark';

:root {
  //base
  --accent-color: #{variables-light.$accent-color};
  --accent-color-hover: #{variables-light.$accent-color-hover};
  --dim-color: #{variables-light.$dim-color};
  --green-color: #{variables-light.$green-color};
  --green-color-hover: #{variables-light.$green-color-hover};
  --red-color: #{variables-light.$red-color};
  --red-color-hover: #{variables-light.$red-color-hover};

  //background
  --background-color: #{variables-light.$background-color};
  --page-background-color: #{variables-light.$page-background-color};
  --navbar-background-color: #{variables-light.$navbar-background-color};
  --book-card-background-color: #{variables-light.$book-card-background-color};
  --input-background-color: #{variables-light.$input-background-color};
  --bubble-background-color: #{variables-light.$bubble-background-color};
  --notification-background-color: #{variables-light.$notification-background-color};

  //text
  --main-text-color: #{variables-light.$main-text-color};
  --bold-text-color: #{variables-light.$bold-text-color};
  --dim-text-color: #{variables-light.$dim-text-color};
  --link-text-color: #{variables-light.$link-text-color};
  --link-text-color-hover: #{variables-light.$link-text-color-hover};
  --red-text-color: #{variables-light.$red-text-color};
  --red-text-color-hover: #{variables-light.$red-text-color-hover};
  --green-text-color: #{variables-light.$green-text-color};
  --green-text-color-hover: #{variables-light.$green-text-color-hover};

  //border
  --border-color: #{variables-light.$border-color};
  --input-border-color: #{variables-light.$input-border-color};

  //shadow
  --wheel-shadow-color: #{variables-light.$wheel-shadow-color};
}

.dark {
  //base
  --accent-color: #{variables-dark.$accent-color};
  --accent-color-hover: #{variables-dark.$accent-color-hover};
  --dim-color: #{variables-dark.$dim-color};
  --green-color: #{variables-dark.$green-color};
  --green-color-hover: #{variables-dark.$green-color-hover};
  --red-color: #{variables-dark.$red-color};
  --red-color-hover: #{variables-dark.$red-color-hover};

  //background
  --background-color: #{variables-dark.$background-color};
  --page-background-color: #{variables-dark.$page-background-color};
  --navbar-background-color: #{variables-dark.$navbar-background-color};
  --book-card-background-color: #{variables-dark.$book-card-background-color};
  --input-background-color: #{variables-dark.$input-background-color};
  --bubble-background-color: #{variables-dark.$bubble-background-color};
  --notification-background-color: #{variables-dark.$notification-background-color};

  //text
  --main-text-color: #{variables-dark.$main-text-color};
  --bold-text-color: #{variables-dark.$bold-text-color};
  --dim-text-color: #{variables-dark.$dim-text-color};
  --link-text-color: #{variables-dark.$link-text-color};
  --link-text-color-hover: #{variables-dark.$link-text-color-hover};
  --red-text-color: #{variables-dark.$red-text-color};
  --red-text-color-hover: #{variables-dark.$red-text-color-hover};
  --green-text-color: #{variables-dark.$green-text-color};
  --green-text-color-hover: #{variables-dark.$green-text-color-hover};

  //border
  --border-color: #{variables-dark.$border-color};
  --input-border-color: #{variables-dark.$input-border-color};

  //shadow
  --wheel-shadow-color: #{variables-dark.$wheel-shadow-color};
}