@use 'variables-light';
@use 'variables-dark';

:root {
  --background-color: #{variables-light.$background-color};
  --page-background-color: #{variables-light.$page-background-color};
  --navbar-background-color: #{variables-light.$navbar-background-color};
  --accent-color: #{variables-light.$accent-color};
  --dim-color: #{variables-light.$dim-color};
  --main-text-color: #{variables-light.$main-text-color};
  --bold-text-color: #{variables-light.$bold-text-color};
  --dim-text-color: #{variables-light.$dim-text-color};
  --link-text-color: #{variables-light.$link-text-color};
  --link-text-color-hover: #{variables-light.$link-text-color-hover};
  --border-color: #{variables-light.$border-color};
  --book-card-background-color: #{variables-dark.$book-card-background-color};
}

.dark {
  --background-color: #{variables-dark.$background-color};
  --page-background-color: #{variables-dark.$page-background-color};
  --navbar-background-color: #{variables-dark.$navbar-background-color};
  --accent-color: #{variables-dark.$accent-color};
  --dim-color: #{variables-dark.$dim-color};
  --main-text-color: #{variables-dark.$main-text-color};
  --bold-text-color: #{variables-dark.$bold-text-color};
  --dim-text-color: #{variables-dark.$dim-text-color};
  --link-text-color: #{variables-dark.$link-text-color};
  --link-text-color-hover: #{variables-dark.$link-text-color-hover};
  --border-color: #{variables-dark.$border-color};
  --book-card-background-color: #{variables-dark.$book-card-background-color};
}