@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/profile-header-placeholders';

.club-header-book {
  grid-area: book;

  &__title {
    @extend %profile-header-section-title;
    margin-top: variables-size.$rem-10;
  }

  &__book {
    margin-top: variables-size.$rem-10;
  }

  &__name {
    font-size: variables-size.$font-size-x-x-l;
    font-weight: variables-size.$font-weight-x-x-l;
    color: var(--bold-text-color);
  }

  &__author {
    margin-top: 5px;
    font-size: variables-size.$font-size-l;
    font-weight: variables-size.$font-weight-s;
  }
}

.club-header-book__placeholder {

}

@media (max-width: variables-size.$device-width-medium) {
  .club-header-book {
    &__title {
      margin-top: variables-size.$rem-16;
    }

    &__book {
      margin-top: variables-size.$rem-5;
    }

    &__name {
      font-size: variables-size.$font-size-x-l;
    }

    &__author {
      font-size: variables-size.$font-size-m;
    }
  }
}

@media (max-width: variables-size.$device-width-small) {
  .club-header-book {
    &__name {
      font-size: variables-size.$font-size-l;
    }

    &__author {
      font-size: variables-size.$font-size-m;
    }
  }
}