@use '../../../styles/variables/variables-size';

.club-profile-header {
  display: grid;
  grid-template-areas:
      'buttons buttons buttons'
      'title title title'
      'book book master'
      'book book meeting';
  padding: variables-size.$page-padding;

  .profile-title {
    margin-bottom: variables-size.$rem-10;
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .club-profile-header {
    grid-template-areas:
      'buttons'
      'title'
      'book'
      'master'
      'meeting';
  }
}