@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/settings-label';

.user-settings-account {
  &__group {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__label {
    @extend %settings-label;
  }

  &__loader {
    position: relative;
    width: 100px;
    height: 200px;
  }
}