@use 'src/styles/placeholders/cards-placeholders';
@use 'src/styles/placeholders/avatar-placeholder';
@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-color';

$club-books-card-head-padding: variables-size.$card-padding-side variables-size.$card-padding-side;

.club-books-card {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__head {
    @extend %card-header;
    border-radius: variables-size.$card-radius;
    padding: $club-books-card-head-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    @extend %card-footer;
    display: none;
  }

  &__user {
    display: flex;
    align-items: center;
    color: variables-color.$card-white-text;
    &:hover {
      color: variables-color.$card-white-text;
    }
  }

  &__avatar {
    margin-right: 10px;
  }

  &__username {
    color: variables-color.$card-white-text;
    font-size: variables-size.$font-size-l;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: transform 0.1s linear;
    svg {
      color: variables-color.$card-white-text;
      width: variables-size.$font-size-m;
      height: variables-size.$font-size-m;
      fill: currentColor;
    }
  }

  &.club-books-card--open {
    .club-books-card__head {
      @extend %card-header;
      padding: $club-books-card-head-padding;
    }

    .club-books-card__footer {
      display: block;
      animation: growDown 150ms ease-in-out forwards;
      transform-origin: top center;
    }

    .club-books-card__button {
      transform: rotate(180deg);
      transition: transform 0.1s linear;
    }
  }
}

.club-books-card-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: variables-size.$font-size-m-s;

  &:not(:first-of-type):not(:last-of-type) {
    padding: 10px 0;
  }

  &:first-of-type {
    padding-bottom: 10px;
  }

  &:last-of-type {
    padding-top: 10px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &__title {
    margin-right: 10px;
  }

  &__left-container, &__right-container {
    display: flex;
    align-items: center;
  }

  &__left-container {
    padding-right: 30px;
  }

  &__year {
    margin-right: 10px;
  }

  &__delete, &__details {
    display: flex;
    align-items: center;

    svg {
      fill: currentColor;
      width: variables-size.$font-size-m-s;
      height: variables-size.$font-size-m-s;
    }
  }

  &__delete {
    svg {
      color: var(--red-text-color);
    }
  }

  &.club-books-card-book--disabled {
    color: var(--dim-text-color);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .club-books-card {
    &__username {
      font-size: variables-size.$font-size-m;
    }
  }

  .club-books-card-book {
    flex-direction: column;
    font-size: variables-size.$font-size-s;
    align-items: flex-start;

    &__left-container {
      width: 100%;
      padding-right: 0;
      margin-bottom: variables-size.$rem-10;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__right-container {
      width: 100%;
    }
  }
}