.user-header-buttons {
  display: flex;
  justify-content: flex-end;
}

.user-header-buttons__button {
  a {
    color: var(--dim-text-color);
    &:visited {
      color: var(--dim-text-color);
    }
    &:hover {
      color: var(--dim-text-color);
    }
  }
}