@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/profile-content-placeholder';

.club-profile-members {
  display: flex;
  flex-wrap: wrap;

  &__card {
    width: calc(50% - .625rem);
    &:nth-of-type(odd) {
      margin-right: variables-size.$rem-20;
    }

    &:nth-child(odd):nth-last-child(n+3) {
      margin-bottom: variables-size.$rem-20;
    }

    &:nth-child(even):nth-last-child(n+2) {
      margin-bottom: variables-size.$rem-20;
    }
  }

  &--empty {
    justify-content: center;
  }

  &__placeholder {
    @extend %profile-content-placeholder;
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .club-profile-members {
    &__card {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: variables-size.$rem-20;
      }
      &:nth-of-type(odd) {
        margin-right: 0;
      }
    }
  }
}
