@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/z-indexes';
@use 'src/styles/variables/variables-shadow';

.bubble {
  position: fixed;
  z-index: z-indexes.$z-index-bubble;
  background-color: var(--bubble-background-color);
  border-radius: variables-size.$card-radius;
  padding: variables-size.$rem-5;
  box-shadow: variables-shadow.$shadow-bubble;

  &__item {
    padding: variables-size.$rem-5;
    font-size: variables-size.$font-size-x-s;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    width: 100%;

    &:visited, &:hover {
      color: var(--main-text-color);
    }

    .bubble__emoji, svg {
      width: variables-size.$font-size-m;
      height: variables-size.$font-size-m;
      font-size: variables-size.$font-size-m;
      margin-right: variables-size.$rem-5;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--main-text-color);
    }

    .transparent-button {
      width: 100%;
      display: flex;
      align-items: center;
      svg {
        width: variables-size.$font-size-m;
        height: variables-size.$font-size-m;
      }
      span {
        padding-top: variables-size.$rem-2;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -9px;
    right: 25px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bubble-background-color);
  }
}
