@use 'src/styles/placeholders/main-gradient-placeholder';
@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-color';

.book-data-view {
  &__header {
    display: flex;
    @extend %main-gradient;
    border-radius: variables-size.$card-radius;
    overflow: hidden;
    margin-bottom: variables-size.$page-padding-top;
  }

  &__title-container {
    padding: variables-size.$card-padding-side;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: variables-size.$font-size-page-title;
    color: variables-color.$card-white-text;
  }

  &__info {
    margin-bottom: variables-size.$page-padding-top;
  }

  &__info-line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: variables-size.$font-size-m;
  }

  &__info-label {
    margin-right: 5px;
    color: var(--bold-text-color);
    font-weight: variables-size.$font-weight-l;
  }

  &__info-value {

  }

  &__description-container {
    font-size: variables-size.$font-size-m;
  }

  &__description {
    font-size: variables-size.$font-size-m-s;
  }
}

@media (max-width: variables-size.$device-width-large) {
  .book-data-view {
    &__title {
      font-size: variables-size.$font-size-page-title-s;
    }

    &__info-line {
      flex-direction: column;
    }
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .book-data-view {
    &__title {
      font-size: variables-size.$font-size-x-x-l;
    }

    &__info-line {
      font-size: variables-size.$font-size-m-s;
    }
  }
}

@media (max-width: variables-size.$device-width-small) {
  .book-data-view {
    &__header {
      flex-direction: column;
    }

    &__cover {
      width: 100%;
      height: 100px;

      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
      }
    }

    &__title {
      font-size: variables-size.$font-size-x-l;
    }

    &__info-line {
      flex-direction: column;
      font-size: variables-size.$font-size-s;
    }

    &__description, &__description-container {
      font-size: variables-size.$font-size-s;
    }
  }
}