$shadow-bubble: 4px 8px 21px -2px var(--wheel-shadow-color);
$shadow-notification: 0 9px 24px -5px var(--notification-shadow-color);
$shadow-navbar: 0 3px 5px -1px var(--navbar-shadow-small), 0 1px 18px 0 var(--navbar-shadow-big);
$shadow-page: 0px 1px 5px 0px var(--navbar-shadow-small), 0px 3px 1px -2px var(--navbar-shadow-big);
$shadow-wheel-info:  0px 3px 6px 0px var(--navbar-shadow-small), 0px 6px 18px 10px var(--navbar-shadow-big);