$z-index-navbar: 0;
$z-index-app-layout: 1;
$z-index-mobile-navbar: 2;
$z-index-wheel-triangle: 3;
$z-index-bubble-bg: 3;
$z-index-bubble: 4;
$z-index-tab-loader: 5;
$z-index-page-loader: 6;
$z-index-modal-bg: 7;
$z-index-emoji-picker: 8;
$z-index-modal-close: 9;
$z-index-notifications: 10;