$z-index-navbar: 0;
$z-index-app-layout: 1;
$z-index-wheel-triangle: 2;
$z-index-tab-loader: 4;
$z-index-page-loader: 4;
$z-index-navbar: 5;
$z-index-bubble: 6;
$z-index-modal-bg: 7;
$z-index-emoji-picker: 8;
$z-index-modal-close: 9;
$z-index-notifications: 10;