$z-index-navbar: 0;
$z-index-app-layout: 1;
$z-index-wheel-triangle: 2;
$z-index-bubble-bg: 2;
$z-index-bubble: 3;
$z-index-tab-loader: 4;
$z-index-page-loader: 5;
$z-index-modal-bg: 6;
$z-index-emoji-picker: 7;
$z-index-modal-close: 8;
$z-index-notifications: 9;