@use '../../../../styles/placeholders/profile-header-placeholders';

.club-profile-header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  grid-area: buttons;
}

.club-profile-header__button {
  @extend %profile-header-button;
}