@use 'src/styles/placeholders/form-input-group';
@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/input-error';

.user-settings-password-form {
  &__inputs-group {
    @extend %form-input-group;
    &:not(:last-of-type) {
      margin-bottom: variables-size.$rem-10;
    }
  }

  &__input {

  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: variables-size.$rem-20;
  }

  &__error {
    @extend %input-error;
  }
}