@use 'src/styles/placeholders/form-input-group';

.user-settings-password-form {
  &__inputs-group {
    @extend %form-input-group;
  }

  &__input {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}