@import 'src/styles/variables-size';

.user-header-avatar {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.user-header-avatar__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-header-avatar__emoji {
  font-size: $font-size-x-x-large;
}