@use 'src/styles/variables/variables-size';
@use 'src/styles/placeholders/settings-label';
@use 'src/styles/placeholders/form-input-group';
@use 'src/styles/placeholders/input-error';

.user-settings-info-form {
  &__container {
    margin-bottom: variables-size.$rem-20;
  }

  &__group {
    @extend %form-input-group;
  }

  &__label {
    @extend %settings-label;
  }

  &__input {

  }

  &__error {
    @extend %input-error;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}