@use '../../../../styles/variables/variables-size';
@use '../../../../styles/placeholders/profile-header-placeholders';

.user-header-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.user-header-buttons__button {
  @extend %profile-header-button;
}