@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-color';
@use 'src/styles/variables/z-indexes';
@use 'src/styles/variables/variables-shadow';

.navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: var(--navbar-background-color);
  z-index: z-indexes.$z-index-navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 variables-size.$rem-20;
  box-shadow: variables-shadow.$shadow-navbar;

  &__logo {
    font-size: variables-size.$font-size-l;
    font-weight: variables-size.$font-weight-x-l;
    color: var(--navbar-link-accent);
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: calc(variables-size.$rem-20 - 3px);
  }

  &__theme-switch-wrapper {
    margin-right: variables-size.$rem-20;
  }

  &__profile-wrapper {
    user-select: none;
  }
}