@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/variables-color';
@use 'src/styles/variables/variables-shadow';
@use 'src/styles/placeholders/triangle-shadow';
@use 'src/styles/variables/z-indexes';

.wheel-container {
  margin-bottom: variables-size.$page-padding-side;
  position: relative;

  &__triangle {
    position: absolute;
    top: 0;
    left: calc(50% - 18px);
    color: variables-color.$wheel-triangle;
    z-index: z-indexes.$z-index-wheel-triangle;
    svg {
      @extend %triangle-shadow;
      width: 36px;
      height: 36px
    }
  }

  &__wheel {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: variables-size.$page-padding-top;
  }

  &__side-wrapper {
    position: absolute;
    top: variables-size.$font-size-m-s;
    bottom: variables-size.$font-size-m-s;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: z-indexes.$z-index-wheel-info;
  }

  &__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bubble-background-color);
    padding: variables-size.$page-padding-top;
    border-radius: variables-size.$page-layout-radius;
    box-shadow: variables-shadow.$shadow-wheel-info;
    width: 90%;
  }

  &__history-button-wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: z-indexes.$z-index-wheel-history-button;
  }

  &__history-button {
    font-size: variables-size.$font-size-m-s;
    display: flex;
    align-items: center;
    svg {
      margin-left: variables-size.$rem-5;
      fill: currentColor;
      width: variables-size.$font-size-x-s;
      height: variables-size.$font-size-x-s;;
    }
  }

  &__placeholder {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: variables-size.$font-size-l;
    font-weight: variables-size.$font-weight-l;
    text-align: center;
  }

  &--roll {
    .wheel-container__side-wrapper {
      display: none;
    }
  }
}