@use '../../../styles/variables/variables-size';
@use 'src/styles/placeholders/page-loading';

.random-book {
  &__view {
    margin-bottom: variables-size.$page-padding;
  }

  &__buttons {
    button:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__loader {
    @extend %page-loading;
  }
}

@media (max-width: variables-size.$device-width-small) {
  .random-book {
    &__buttons {
      display: flex;
      justify-content: space-between;

      button {
        margin: 0;
      }
    }
  }
}