.input-text {
  background-color: #f0f0f0;
  outline: none;
  border: none;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;

  &::placeholder {
    color: #66bf3c;
  }

  &:hover {
    border: 2px blue solid;
  }
}