@use '../../../styles/variables/variables-color';
@use '../../../styles/variables/variables-size';
@use 'src/styles/placeholders/cards-placeholders';

$book-card-title-padding: variables-size.$rem-10;
$book-card-authors-padding: variables-size.$rem-5;

.book-card {
  &:not(:last-of-type) {
    margin-bottom: variables-size.$rem-20;
  }

  &__head {
    @extend %card-header;
    display: grid;
    grid-template-areas:
    'title delete'
    'author author';
    grid-template-columns: auto variables-size.$rem-24;

    &--with-meeting {
      grid-template-areas:
      'title title delete'
      'author meeting meeting';
    }
  }

  &__title {
    grid-area: title;
    font-size: variables-size.$font-size-x-l;
    font-weight: 700;
    padding: $book-card-title-padding 0;
  }

  &__authors {
    grid-area: author;
    font-size: variables-size.$font-size-m;
    padding: $book-card-authors-padding 0;
  }

  &__meeting-number {
    grid-area: meeting;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: variables-size.$font-size-m-s;
  }

  &__delete {
    grid-area: delete;
    padding-top: $book-card-title-padding;

    svg {
      color: variables-color.$card-white-text;
      width: variables-size.$font-size-m;
      height: variables-size.$font-size-m;
    }
  }

  &__footer {
    @extend %card-footer;
    display: flex;
    justify-content: space-between;
  }

  &__genres {
    padding-right: variables-size.$rem-10;
  }
}

@media (max-width: variables-size.$device-width-small) {
  .book-card {
    &__head {
      &--with-meeting {
        grid-template-areas:
          'title delete'
          'author author'
          'meeting meeting';

        .book-card__authors {
          margin-bottom: variables-size.$rem-10;
        }
      }
    }

    &__title {
      padding: 0;
      font-size: variables-size.$font-size-m;
      margin-bottom: $book-card-authors-padding;
    }

    &__authors {
      font-size: variables-size.$font-size-m-s;
      padding: 0;
    }

    &__meeting-number {
      justify-content: flex-start;
      font-size: variables-size.$font-size-s;
    }

    &__delete {
      padding: 0;
    }
  }
}