@use 'src/styles/variables-color';
@use 'src/styles/variables-size';
@use 'src/styles/placeholders';

$book-card-title-padding: 10px;
$book-card-authors-padding: 5px;

.book-card {
  margin-bottom: 20px;

  &__head {
    @extend %card-header;
    display: grid;
    grid-template-areas:
    'title delete'
    'author author';
    grid-template-columns: auto 24px;

    &--with-meeting {
      grid-template-areas:
      'title title delete'
      'author meeting meeting';
    }
  }

  &__title {
    grid-area: title;
    font-size: variables-size.$font-size-x-l;
    font-weight: 700;
    padding: $book-card-title-padding 0;
  }

  &__authors {
    grid-area: author;
    font-size: variables-size.$font-size-m;
    padding: $book-card-authors-padding 0;
  }

  &__meeting-number {
    grid-area: meeting;
  }

  &__delete {
    grid-area: delete;
    padding-top: $book-card-title-padding;
    color: variables-color.$card-white-text;

    svg {
      width: variables-size.$font-size-m;
      height: variables-size.$font-size-m;
    }
  }

  &__footer {
    @extend %card-footer;
    display: flex;
    justify-content: space-between;
  }
}