@use 'src/styles/variables/variables-size';
@use 'src/styles/variables/z-indexes';

.notification-container {
  z-index: z-indexes.$z-index-notifications;
  position: fixed;
  top: 10px;
  right: 0;
  width: 300px;
  max-height: 100vh;
  overflow: visible;
}