@use 'src/styles/placeholders/settings-page-title';
@use 'src/styles/variables/variables-size';

$container-padding: 1.25rem;
$tabs-padding: 2.5rem;

.user-settings {
  padding: variables-size.$page-padding-top;

  &__content {
    display: grid;
    grid-template-areas:
    'title title'
    'tabs container';
  }

  &__title {
    @extend %setting-page-title;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: $tabs-padding;
  }

  &__container {
    padding: $container-padding $container-padding 0 $container-padding;
    grid-area: container;
  }
}

@media (max-width: variables-size.$device-width-medium) {
  .user-settings {
    padding: 0;

    &__content {
      grid-template-areas:
        'title'
        'tabs'
        'container';
    }

    &__container, &__tabs {
      padding: 0;
    }

    &__title {
      margin-bottom: variables-size.$rem-10;
    }

    &__tabs {
      flex-direction: row;
      margin-bottom: variables-size.$rem-20;
    }
  }
}